*{
   padding: 0;
   margin: 0;
}

body{
   background: url(img/bg.jpg) 50% 0 repeat;
   font-family: sans-serif;
}

/* хидер */
.container .header{
   opacity: 0.5;
   background: url(img/bg_menu.png) 50% 0 repeat;
   height: 83px;
   margin-top: 30px;
}
.container .header .logo_area{
   width: 169px;
   padding-top: 15px;
   float: left;
}
.container .header_content{
   margin: 0 auto;
   max-width: 1000px;
   height: 30px;
}
.container .header_content .search{
   float: right;
   height: 38px;
}
.container .header_content .search input,
.container .header_content .search button{
   height: 38px;
   margin-top: 20px;
   vertical-align: top;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-radius: 0;
   background-color: unset;
   color: white;
   padding-left: 10px;
   border: 1px solid white;

}
.container .header_content .search button{
   width: 51px;
}

.container .header_content .search  i.sc{
   background: url(img/search.png) 50% 0 no-repeat;
   width: 20px;
   margin: 3px 0 0 -10px;
   display: inline-block;
   height: 20px;
}

.container .header_content ul.contacts{
   text-align: center;
   margin-left: 200px;
   color: white;
   padding-top: 25px;
}
.container .header_content ul.contacts li{
   display: inline;
   padding-left: 20px;
}


i.email{
   background: url(img/email.png) 50% 0 no-repeat;
   width: 40px;
   height: 20px;
   display: inline-block;
   padding-right: 10px;
   vertical-align: middle;
}

i.tel{
   background: url(img/tel.png) 50% 0 no-repeat;
   width: 30px;
   height: 30px;
   display: inline-block;
   padding-right: 10px;
   vertical-align: middle;
}

/* главное меню */
ul.menu{
   margin-top: 20px;
   list-style-type: none;
   text-align: center;
   padding-bottom: 20px;
   border-bottom: 1px solid white;
}
ul.menu li{
   display: inline;
}
ul.menu a{
   text-decoration: none;
   color: #201d1d;
   padding: 15px;
}
ul.menu a:hover{
   text-shadow: 0 0 9px #212e1d;
}

/* текст посередине страницы */
.content{
   text-align: center;
   margin-top: 130px;
   color: white;
}
.content span{
   margin-bottom: 100px;
}
.content .seporator{
   width: 70px;
   height: 2px;
   background-color: white;
   margin: 20px auto 100px;
}
.content h1{
   font-size: 300%;
   margin-bottom: 80px;
}

/* иконки социальных сетей */
.content ul.sn{
   list-style-type: none;
   text-align: center;
}
.content ul.sn li{
   display: inline;
   padding: 5px;
}
.content ul.sn a{
   text-decoration: none;
   width: 30px;
   height: 30px;
   display: inline-block;
   vertical-align: middle;
   border: 2px solid white;
   border-radius: 50%;
}
.content ul.sn a:hover{
   background-color: #547524;
}
.content ul.sn i{
   width: 30px;
   height: 30px;
   display: inline-block;
   margin-top: 7px;
}
.content ul.sn i.fb{
   background: url(img/facebook.png) 50% 0 no-repeat;
}
.content ul.sn i.tw{
   background: url(img/twitter.png) 50% 0 no-repeat;
}
.content ul.sn i.rss{
   background: url(img/rss.png) 50% 0 no-repeat;
}
.content ul.sn i.vk{
   background: url(img/vk.png) 50% 0 no-repeat;
   margin-top: 9px;
}
