body{
   background-color: #f8f8f8;
}

/* верхнее меню */
ul.menu{
   list-style-type: none;
}

ul.menu a{
   color: #352097;
   text-decoration: none;
   font-size: 120%;
   font-weight: bolder;
}

/* страница детального описания товара */
body.details{
   background-color: #eaeaea;
}
body.details h2{
   color: #000;
   font-size: 18px;
   font-weight: 400;
}
body.details img{
   outline: solid #269191;
}
body.details .descr{
   color: #484343;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align; left;
}
body.details .descr_short{
   color: #707070;
   font-size: 14px;
   font-style: italic;
   line-height: 16px;
}
body.details ul.prop {
   color: #507070;
   font-size: 1.1em;
   list-style: none;
   padding-left: 0;
}
body.details ul.prop li {
   position: relative;
   padding-left: 30px;
   margin-left: 20px;
   margin-bottom: 10px;
   background-image: url('../img/phone.jpg');
   background-repeat: no-repeat;
   background-position-x: 0;
   background-size: contain;
}

/* страница контактов */
body.contacts input {
   width:  300px;
   height: 120%;
   font-size: 1.1em;
   box-sizing: border-box;
}
body.contacts input[type="text"]{
   color: #12480d;
   font-weight: bold;
}
